<h1 class="text-2xl">隱私權政策</h1>

<p class="text-lg">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero laboriosam voluptatum quod voluptate ea, sequi recusandae deleniti rem aperiam nam sed commodi similique minus natus, fuga possimus dolores. Officia, tenetur.</p>
