@tailwind base;
@tailwind components;
@tailwind utilities;

.field_with_errors {
  display: inline;

  & input[type="text"] {
    border: 2px solid red;
  }

  & input[type="number"] {
    border: 2px solid red;
  }
}

.flash-alert {
  @apply px-4 py-2 text-white bg-rose-700;
}

.flash-notice {
  @apply px-4 py-2 text-black bg-orange-400;
}

.drag-ghost {
  @apply border-4 border-dashed border-slate-400;
}
