@tailwind base;
@tailwind components;
@tailwind utilities;

.field_with_errors {
  display: inline;

  & input[type="text"] {
    border: 2px solid red;
  }

  & input[type="number"] {
    border: 2px solid red;
  }
}

.flash-alert {
  @apply px-4 py-2 text-white bg-rose-700;
}

.flash-notice {
  @apply px-4 py-2 text-white bg-slate-700;
}

.ink-btn {
  @apply px-3 bg-slate-700  text-white rounded py-2 inline-block;
}

.ink-btn-danger {
  @apply bg-rose-700;
}

.input-field {
  @apply border-2 border-black;
}
