<h1 class="text-2xl">商品列表</h1>

<%= link_to '新增商品', new_product_path, class: 'ink-btn' if user_signed_in? %>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.title, product_path(product) %>
    </li>
  <% end %>
</ul>
